body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.main-container {
    width: 650px;
    height: 272px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    align-items: center;
    top: 100px;
}

.task {
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 145px;
}

.head1 {
    font-size: 40px;
    font-weight: 600;
}

.head2 {
    font-size: 30px;
    font-weight: 100;
}

.fa {
    color: #ba2b1c;
    font-size: 27px;
    font-weight: 100;
    margin-top: 5px;
    /* margin-right: px; */
}

.add-list {
    font-size: 20px;
    font-weight: 300;
    position: relative;
    left: 210px;
    padding-top: 30px;
    margin-right: 30px;
}

.cards-container {
    position: relative;
    justify-content: space-around;
}

.cards {
    width: 170px;
    height: 270px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #ba2b1c;
    position: relative;
    margin: 0px;
    box-shadow: 2px 2px 4px 4px lightgrey;
}

.card-2 {
    margin-left: 40px;
}

.card-3 {
    margin-left: 40px;
}

.mar {
    text-align: center;
    margin-left: 5px;
}

.card-heading {
    text-align: center;
    color: #ba2b1c;
    font-size: 25px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
}

.para {
    color: #ba2b1c;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
    margin-top: 30px;
    margin-bottom: 15px;
}

.check {
    margin-left: 10px;
}

.pending {
    padding: 3px;
}

.page-2 {
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    left: 50%;
    color: #ba2b1c;
}

.page-2:hover {
    font-size: 25px;
    font-weight: 600;
}


/* mobile-view */

@media screen and (max-width:850px) and (min-width:490px) {
    .outer-container {
        width: 400px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        align-items: center;
        top: 1.5em;
    }
    .task-list {
        display: flex;
        justify-content: space-between;
        position: relative;
        right: 8px;
    }
    .bold-heading {
        font-size: 2.5em;
        font-weight: 600;
    }
    .thin-heading {
        font-size: 1em;
        font-weight: 100;
    }
    .fa {
        color: #ba2b1c;
        font-size: 27px;
        font-weight: 100;
    }
    .add-list {
        font-size: 1.4em;
        font-weight: 300;
        position: relative;
        left: 2em;
        padding-top: 30px;
        margin-right: 25px;
    }
    .card-container {
        justify-content: space-around;
        bottom: 10%;
    }
    .cards {
        width: 250px;
        height: 270px;
        left: 12%;
    }
    .card-one {
        margin-left: 3em;
        top: 2%;
    }
    .card-two {
        margin-left: 3em;
        top: 5%;
    }
    .card-three {
        margin-left: 3em;
        top: 8%;
    }
    /* Page 2 */
    .page:hover {
        font-size: 20px;
        font-weight: 500;
    }
}

@media screen and (max-width:490px) {
    .outer-container {
        display: none;
    }
    .mobile-container {
        margin: 0;
        display: contents;
        display: flex;
        flex-direction: row;
        left: 100px;
    }
    .mobile-task-list {
        display: inline-flex;
        position: relative;
        left: 7%;
    }
    .mobile-bold-heading {
        font-size: 2.5em;
        font-weight: 600;
        position: relative;
        top: 8%;
        right: .5em;
    }
    .mobile-thin-heading {
        font-size: 1em;
        font-weight: 100;
        position: relative;
        bottom: 12%;
        left: 110px
    }
    .fa {
        color: #ba2b1c;
        font-size: 40px;
        font-weight: 100;
        position: relative;
        left: 90%;
        top: 10%;
    }
    .mobile-card-container {
        width: 100vw;
    }
    .mobile-cards {
        width: 85vw;
        height: 14%;
        display: inline-block;
        border-radius: 7px;
        position: relative;
        right: 42%;
        top: 30%;
        margin-bottom: 30px;
        box-shadow: 2px 2px 5px 3px lightgray;
    }
    .mobile-card-heading {
        color: gray;
        padding-left: 10px;
        font-size: 20px;
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}